[submodule "Libs/minhook"]
	path = Libs/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "Libs/spdlog"]
	path = Libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Libs/json"]
	path = Libs/json
	url = https://github.com/nlohmann/json
