[submodule "Libs/minhook"]
	path = Libs/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "Libs/spdlog"]
	path = Libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Libs/json"]
	path = Libs/json
	url = https://github.com/nlohmann/json
[submodule "Libs/websocketpp"]
	path = Libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "Libs/asio"]
	path = Libs/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "Libs/async-sockets-cpp"]
	path = Libs/async-sockets-cpp
	url = https://github.com/eminfedar/async-sockets-cpp/
[submodule "Libs/protobuf"]
	path = Libs/protobuf
	url = https://github.com/protocolbuffers/protobuf/
[submodule "Libs/grpc"]
	path = Libs/grpc
	url = https://github.com/grpc/grpc
[submodule "Libs/abseil-cpp"]
	path = Libs/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
